<%- include('./partials/header.ejs') %>

<form action="/login" method="POST">
  <label for="email">Email:</label><br>
  <input type="text" id="email" name="email"><br>
  <label for="password">Password:</label><br>
  <input type="password" id="password" name="password"><br><br>
  <input type="submit" value="Submit">
</form>

<%- include('./partials/footer.ejs') %>